.main-expenses-container {
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px 54px;
    background: #FFFFFF;
    box-shadow: 10px 20px 20px rgba(82, 123, 185, 0.1);
    border-radius: 10px;
    align-items: center;
    gap: 10px;
}

.main-expenses-show-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.main-expenses-chart {
    margin-top: auto;
    /* width: 60%; */
}