.left-menu-container {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    width: 200px;
    height: 100%;
    box-sizing: border-box;
    background-color: #FFFFFF;
    gap: 50px;
}

.left-menu-title {
    padding-left: 15px;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: #464C55;
}

.menu-item-container {
    display: flex;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    align-items: center;
    padding-left: 15px;
    gap: 20px;
    color: #969CA4;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.menu-item-container.active {
    color: #4851FB;
    background-color: #F5F7FB;
    box-shadow: inset 6px -1px 10px rgba(82, 126, 185, 0.1);
}

.menu-item-icon {
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
}

.menu-item-icon.summary {
    background: url('icons/summaryIcon.svg') 50% 50% no-repeat;
}

.menu-item-icon.summary.active {
    background: url('icons/summaryActiveIcon.svg') 50% 50% no-repeat;
}

.menu-item-icon.transactions {
    background: url('icons/transactionIcon.svg') 50% 50% no-repeat;
}

.menu-item-icon.transactions.active {
    background: url('icons/transactionActiveIcon.svg') 50% 50% no-repeat;
}

.menu-item-icon.goals {
    background: url('icons/goalsIcon.svg') 50% 50% no-repeat;
}

.menu-item-icon.goals.active {
    background: url('icons/goalsActiveIcon.svg') 50% 50% no-repeat;
}