.main-page-summary-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    padding: 40px 70px;
}

.main-page-summary-money-summary {
    display: flex;
    width: 100%;
    gap: 20px;
}

.main-page-summary-expenses-container {
    display: flex;
    gap: 18px;
}