.main-page-summary-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    padding: 40px 70px;
    position: relative;
}

.main-page-summary-money-summary {
    display: flex;
    width: 100%;
    gap: 20px;
    min-height: 100px;
    max-height: 125px;
    height: 100%;
}

.main-page-summary-chart-summary {
    width: 100%;
    min-height: 200px;
    max-height: 320px;
    height: 100%;
}

.main-page-summary-expenses-container {
    display: flex;
    /* flex-direction: column; */
    height: 100%;
    max-height: 400px;
    gap: 18px;
}